body{
  background-color: teal;
}

a{
  color: #8f1aef;
}

.brians-headers{
  font-weight: bold;
  font-size: 25px;
  color: #e2934d;
}

.my-list-items{
  padding: 50px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;color: hotpink;
  background-color: #85e2a4;
  border: dotted;
}

h1{
  color: #200bc1;
  padding: 50px;
  background-color: #4f617c;
  border: dotted;
}

img{
  height: 150px;
  width: 150px;
  float: left;
  border: 12px;
  border: dotted;
  color: blue;
  padding: 10px 10px 10px 10px;
}

p{
  font-family: sans-serif;
  font-size: 20px;
}

.netflix{
  color: pink;
  font-size: 25px;
}

.hangout{
  font-weight: bold;
  font-style: oblique;
  color: #b3e534;
}

.padding{
  padding: 20px 0 20px 15px;
  margin: 12px;
}
