img{
  height: 80px;
  width: 80px;
}

p{
  font-family: sans-serif;
  font-size: 20px;
}

.netflix{
  color: pink;
  font-size: 25px;
}

.hangout{
  font-weight: bold;
  font-style: oblique;
  color: #b3e534;
}

.padding{
  padding: 20px 0 20px 15px;
}

.my-list-items{
  padding: 50px;
}
